/bin/*
!/bin/client.dll
!/bin/server.dll
!/bin/game_shader_*.dll
!/bin/shadereditor_swarm.dll
!/bin/sqlite3.dll
/downloads/
/expressions/
/maps/*
!/maps/test_ai_assault.*
!/maps/test_assault.*
!/maps/test_bots.*
!/maps/test_effects.*
!/maps/test_render.*
!/maps/test_splitscreen.*
!/maps/test_weapon.*
/mapsrc/
/materialsrc/
/models/.hammer.mdlcache/
/modelsrc/
/old_core/
/resource/gameui/assets/libs/
/save/
/scenes/
/sound/
/vprof/
/content/addons/
/content/games/
/content/base/materials/
/content/base/sound/
/content/mod/_hl2/
/content/mod/custom/
/content/mod/helicopter/
/content/mod/weapons/sound/
/voice_ban.dt
/thanks.txt
/stats.txt
/render.txt
/inspiracion.txt
/ia.txt
/director_vscript.txt
/director_phases.txt
/connection_process.txt
/comandos.txt
decompiled 0.38
decompiled 0.39
decompiled 0.44
*.vprof
*.tmp
*.dem
*.tga
*.vbsp
*.cache
*.rad
*.svg
*.xcf
*.psd